{{#> layout}}
{{#*inline "title"}} Abissens blog {{/inline}}
{{#*inline "head"}}
    <script src="/index.js"></script>
{{/inline}}
{{#*inline "content"}}
    {{#each selection.pages}}
      <div class="page-card">
        <div class="page-card-header">
            <a href="{{this.page_uri}}" class="title"><h4>{{this.metadata.title}}</h4></a>
            <div class="authors">
                <h3 class="publishing-date">{{ date_format this.metadata.publishing_date.timestamp }}</h3>
                {{#if this.metadata.authors}}
                        by
                        {{#each this.metadata.authors}}
                            <h3>{{this}}</h3>
                            {{#unless @last}},{{/unless}}
                        {{/each}}
                {{/if}}
            </div>
            <div class="tags">
                {{#each this.metadata.tags}}
                    <h3><a href="/tags/{{uri_string this}}/">{{this}}</a></h3>
                {{/each}}
            </div>
        </div>
        <div class="page-card-summary">
            {{this.metadata.summary}}
        </div>
        <div class="page-card-footer">
            <a href="{{this.page_uri}}" class="read-more">Read more</a>
        </div>
      </div>
    {{/each}}
    <div class="paginator">
        {{#each selection.indexes}}
            {{#if @first}}
                <a href="/" class="read-more {{#if this.1}}selected{{/if}}">{{this.0}}</a>
            {{else}}
                <a href="/{{this.0}}/" class="read-more {{#if this.1}}selected{{/if}}">{{this.0}}</a>
            {{/if}}
        {{/each}}
    </div>
{{/inline}}
{{/layout}}